*~
/core/frontend/bower_components/
/core/frontend/node_modules/
/core/frontend/.psci*
/core/frontend/src/.webpack.js
/core/frontend/output
/.cabal-sandbox
/core/backend/dist
/core/backend/cabal.sandbox.config
/core/backend/.state
/core/backend/public_html/
/core/backend/public_html/output.js
