*~
/.cabal-sandbox
/*/backend/dist
/*/backend/cabal.sandbox.config
/*/backend/.state
/*/backend/public_html/
/*/backend/public_html/output.js
/*/frontend/bower_components/
/*/frontend/node_modules/
/*/frontend/.psci*
/*/frontend/psc.tix
/*/frontend/psc-bundle.tix
/*/frontend/src/.webpack.js
/*/frontend/output
